<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Scraping:WaitTimeoutSeconds" value="10" />
        <add key="Scraping:ChromeDebuggerAddress" value="localhost:9222" />
    </appSettings>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinTopGun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinTopGun.Properties.Settings>
            <setting name="RutaDatosExtraidos" serializeAs="String">
                <value />
            </setting>
        </WinTopGun.Properties.Settings>
    </userSettings>
</configuration>
